li{
    color:blueviolet
}

h1{
    text-transform: capitalize;
}

h2{
    border:2px solid red;
}

.nav{
    border: 2px solid;
    padding: 10px;
    background-color: black;
}
.nav a{
    padding: 10px;
}